body {
    background: rgb(110,110,110);
    background: radial-gradient(circle, rgba(110,110,110,1) 22%, rgba(0,0,0,1) 73%);
}
.workshop {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    display: block;
    position: relative;
    border: 3px solid black;
    padding: 40px 60px;
    max-width: 800px;
    width: 70%;
    margin: 100px auto 0;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
    font-family: 'Harry Potter', sans-serif;
    background: rgb(73,43,0);
    background: linear-gradient(90deg, rgba(73,43,0,1) 0%, rgba(237,174,1,0.5676864495798319) 45%);
}

.workshop:hover {
    display: block;
    color: black;
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.workshop li {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:fit-content;
    font-family: monospace;
    font-size: 1.0rem;
}
.workshop li:hover {
    cursor: pointer;
}

header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Harry Potter', sans-serif;
    font-size: 4em;
    color: rgba(237,174,1,0.5676864495798319);
    text-shadow: 3px rgb(144, 90, 9);
}
button {
    font-size: 2rem;
    font-family: 'Harry Potter', sans-serif;
    border-radius: 5px;
    margin: 5px;
    background: rgb(73,43,0);
    background: linear-gradient(90deg, rgba(73,43,0,1) 0%, rgba(237,174,1,0.5676864495798319) 45%);
}
button:hover {
    opacity: 0.85;
}